<nav id="navbar" class="p-1">
  <h2 class="logo"><span class="text-primary"><i class="fas fa-globe-europe"></i> Hi</span>Friends</h2>
  <ul>
    <li><a href="/">Signup</a></li>
    <li><a href="/login">Login</a></li>
  </ul>
</nav>