<section id="showcase">
  <div class="showcase-content">
    <h1 class="l-heading"><span class="text-primary"><i class="fas fa-globe-europe"></i> Hi</span>Friends</h1>
    <p class="lead">Log in. Make friends. Be awesome!</p>
    <a href="/api/users/register" class="btn btn-primary">Register now!</a>
  </div>
</section>