<section id="user">
  <div class="container py-1">

    <div class="user mx-1">
      <h2 class="m-heading text-center"><i class="far fa-user p-1 fa-2x"></i></h2>
      <h2 class="m-heading text-secondary text-center">{{user.name}}</h2>
      <p class="lead text-secondary text-center">{{email}}</p>
    </div>
    <p class="m-1">
      Joined on: {{user.created}}</p>
    <a href="/api/users/profile/edit" class="btn btn-light-inverse mx-1"><i class="far fa-edit"></i></a>
  </div>

</section>
{{> _footer}}